# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Testing & Coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/

# Airflow
dags/__pycache__/
airflow.db
airflow.cfg
airflow-webserver.pid
logs/
airflow_logs/

# SQLite & Local storage
*.sqlite
*.sqlite3
*.db
local_storage/
reports/data_docs_*.html

# OS specific
Thumbs.db
